@font-face{
    font-family: 'Fira Sans';
    src: url('../fonts/FiraSans-Hair.eot');
    src: url('../fonts/FiraSans-Hair.eot') format('embedded-opentype'),
         url('../fonts/FiraSans-Hair.woff2') format('woff2'),
         url('../fonts/FiraSans-Hair.woff') format('woff'),
         url('../fonts/FiraSans-Hair.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('../fonts/FiraSans-HairItalic.eot');
    src: url('../fonts/FiraSans-HairItalic.eot') format('embedded-opentype'),
         url('../fonts/FiraSans-HairItalic.woff2') format('woff2'),
         url('../fonts/FiraSans-HairItalic.woff') format('woff'),
         url('../fonts/FiraSans-HairItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('../fonts/FiraSans-UltraLight.eot');
    src: url('../fonts/FiraSans-UltraLight.eot') format('embedded-opentype'),
         url('../fonts/FiraSans-UltraLight.woff2') format('woff2'),
         url('../fonts/FiraSans-UltraLight.woff') format('woff'),
         url('../fonts/FiraSans-UltraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('../fonts/FiraSans-UltraLightItalic.eot');
    src: url('../fonts/FiraSans-UltraLightItalic.eot') format('embedded-opentype'),
         url('../fonts/FiraSans-UltraLightItalic.woff2') format('woff2'),
         url('../fonts/FiraSans-UltraLightItalic.woff') format('woff'),
         url('../fonts/FiraSans-UltraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('../fonts/FiraSans-Light.eot');
    src: url('../fonts/FiraSans-Light.eot') format('embedded-opentype'),
         url('../fonts/FiraSans-Light.woff2') format('woff2'),
         url('../fonts/FiraSans-Light.woff') format('woff'),
         url('../fonts/FiraSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('../fonts/FiraSans-LightItalic.eot');
    src: url('../fonts/FiraSans-LightItalic.eot') format('embedded-opentype'),
         url('../fonts/FiraSans-LightItalic.woff2') format('woff2'),
         url('../fonts/FiraSans-LightItalic.woff') format('woff'),
         url('../fonts/FiraSans-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('../fonts/FiraSans-Regular.eot');
    src: url('../fonts/FiraSans-Regular.eot') format('embedded-opentype'),
         url('../fonts/FiraSans-Regular.woff2') format('woff2'),
         url('../fonts/FiraSans-Regular.woff') format('woff'),
         url('../fonts/FiraSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('../fonts/FiraSans-Italic.eot');
    src: url('../fonts/FiraSans-Italic.eot') format('embedded-opentype'),
         url('../fonts/FiraSans-Italic.woff2') format('woff2'),
         url('../fonts/FiraSans-Italic.woff') format('woff'),
         url('../fonts/FiraSans-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('../fonts/FiraSans-Medium.eot');
    src: url('../fonts/FiraSans-Medium.eot') format('embedded-opentype'),
         url('../fonts/FiraSans-Medium.woff2') format('woff2'),
         url('../fonts/FiraSans-Medium.woff') format('woff'),
         url('../fonts/FiraSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('../fonts/FiraSans-MediumItalic.eot');
    src: url('../fonts/FiraSans-MediumItalic.eot') format('embedded-opentype'),
         url('../fonts/FiraSans-MediumItalic.woff2') format('woff2'),
         url('../fonts/FiraSans-MediumItalic.woff') format('woff'),
         url('../fonts/FiraSans-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('../fonts/FiraSans-SemiBold.eot');
    src: url('../fonts/FiraSans-SemiBold.eot') format('embedded-opentype'),
         url('../fonts/FiraSans-SemiBold.woff2') format('woff2'),
         url('../fonts/FiraSans-SemiBold.woff') format('woff'),
         url('../fonts/FiraSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('../fonts/FiraSans-SemiBoldItalic.eot');
    src: url('../fonts/FiraSans-SemiBoldItalic.eot') format('embedded-opentype'),
         url('../fonts/FiraSans-SemiBoldItalic.woff2') format('woff2'),
         url('../fonts/FiraSans-SemiBoldItalic.woff') format('woff'),
         url('../fonts/FiraSans-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('../fonts/FiraSans-Bold.eot');
    src: url('../fonts/FiraSans-Bold.eot') format('embedded-opentype'),
         url('../fonts/FiraSans-Bold.woff2') format('woff2'),
         url('../fonts/FiraSans-Bold.woff') format('woff'),
         url('../fonts/FiraSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('../fonts/FiraSans-BoldItalic.eot');
    src: url('../fonts/FiraSans-BoldItalic.eot') format('embedded-opentype'),
         url('../fonts/FiraSans-BoldItalic.woff2') format('woff2'),
         url('../fonts/FiraSans-BoldItalic.woff') format('woff'),
         url('../fonts/FiraSans-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('../fonts/FiraSans-ExtraBold.eot');
    src: url('../fonts/FiraSans-ExtraBold.eot') format('embedded-opentype'),
         url('../fonts/FiraSans-ExtraBold.woff2') format('woff2'),
         url('../fonts/FiraSans-ExtraBold.woff') format('woff'),
         url('../fonts/FiraSans-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('../fonts/FiraSans-ExtraBoldItalic.eot');
    src: url('../fonts/FiraSans-ExtraBoldItalic.eot') format('embedded-opentype'),
         url('../fonts/FiraSans-ExtraBoldItalic.woff2') format('woff2'),
         url('../fonts/FiraSans-ExtraBoldItalic.woff') format('woff'),
         url('../fonts/FiraSans-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('../fonts/FiraSans-Heavy.eot');
    src: url('../fonts/FiraSans-Heavy.eot') format('embedded-opentype'),
         url('../fonts/FiraSans-Heavy.woff2') format('woff2'),
         url('../fonts/FiraSans-Heavy.woff') format('woff'),
         url('../fonts/FiraSans-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('../fonts/FiraSans-HeavyItalic.eot');
    src: url('../fonts/FiraSans-HeavyItalic.eot') format('embedded-opentype'),
         url('../fonts/FiraSans-HeavyItalic.woff2') format('woff2'),
         url('../fonts/FiraSans-HeavyItalic.woff') format('woff'),
         url('../fonts/FiraSans-HeavyItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}


@font-face{
    font-family: 'Fira Mono';
    src: url('../fonts/FiraMono-Regular.eot');
    src: url('../fonts/FiraMono-Regular.eot') format('embedded-opentype'),
         url('../fonts/FiraMono-Regular.woff2') format('woff2'),
         url('../fonts/FiraMono-Regular.woff') format('woff'),
         url('../fonts/FiraMono-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Mono';
    src: url('../fonts/FiraMono-Bold.eot');
    src: url('../fonts/FiraMono-Bold.eot') format('embedded-opentype'),
         url('../fonts/FiraMono-Bold.woff2') format('woff2'),
         url('../fonts/FiraMono-Bold.woff') format('woff'),
         url('../fonts/FiraMono-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'pt_serifbold_italic';
    src: url('../fonts/PTF76F-webfont.eot');
    src: url('../fonts/PTF76F-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PTF76F-webfont.woff2') format('woff2'),
         url('../fonts/PTF76F-webfont.woff') format('woff'),
         url('../fonts/PTF76F-webfont.ttf') format('truetype'),
         url('../fonts/PTF76F-webfont.svg#pt_serifbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pt_serifbold';
    src: url('../fonts/PTF75F-webfont.eot');
    src: url('../fonts/PTF75F-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PTF75F-webfont.woff2') format('woff2'),
         url('../fonts/PTF75F-webfont.woff') format('woff'),
         url('../fonts/PTF75F-webfont.ttf') format('truetype'),
         url('../fonts/PTF75F-webfont.svg#pt_serifbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pt_serif_captionitalic';
    src: url('../fonts/PTZ56F-webfont.eot');
    src: url('../fonts/PTZ56F-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PTZ56F-webfont.woff2') format('woff2'),
         url('../fonts/PTZ56F-webfont.woff') format('woff'),
         url('../fonts/PTZ56F-webfont.ttf') format('truetype'),
         url('../fonts/PTZ56F-webfont.svg#pt_serif_captionitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pt_serif_captionregular';
    src: url('../fonts/PTZ55F-webfont.eot');
    src: url('../fonts/PTZ55F-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PTZ55F-webfont.woff2') format('woff2'),
         url('../fonts/PTZ55F-webfont.woff') format('woff'),
         url('../fonts/PTZ55F-webfont.ttf') format('truetype'),
         url('../fonts/PTZ55F-webfont.svg#pt_serif_captionregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pt_serifitalic';
    src: url('../fonts/PTF56F-webfont.eot');
    src: url('../fonts/PTF56F-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PTF56F-webfont.woff2') format('woff2'),
         url('../fonts/PTF56F-webfont.woff') format('woff'),
         url('../fonts/PTF56F-webfont.ttf') format('truetype'),
         url('../fonts/PTF56F-webfont.svg#pt_serifitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pt_serifregular';
    src: url('../fonts/PTF55F-webfont.eot');
    src: url('../fonts/PTF55F-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PTF55F-webfont.woff2') format('woff2'),
         url('../fonts/PTF55F-webfont.woff') format('woff'),
         url('../fonts/PTF55F-webfont.ttf') format('truetype'),
         url('../fonts/PTF55F-webfont.svg#pt_serifregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

