/* Webfont: LatoLatin-Black */@font-face {
    font-family: 'LatoLatinWebBlack';
    src: url('../fonts/LatoLatin-Black.eot'); /* IE9 Compat Modes */
    src: url('../fonts/LatoLatin-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/LatoLatin-Black.woff2') format('woff2'), /* Modern Browsers */
         url('../fonts/LatoLatin-Black.woff') format('woff'), /* Modern Browsers */
         url('../fonts/LatoLatin-Black.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: LatoLatin-BlackItalic */@font-face {
    font-family: 'LatoLatinWebBlack';
    src: url('../fonts/LatoLatin-BlackItalic.eot'); /* IE9 Compat Modes */
    src: url('../fonts/LatoLatin-BlackItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/LatoLatin-BlackItalic.woff2') format('woff2'), /* Modern Browsers */
         url('../fonts/LatoLatin-BlackItalic.woff') format('woff'), /* Modern Browsers */
         url('../fonts/LatoLatin-BlackItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: LatoLatin-Bold */@font-face {
    font-family: 'LatoLatinWeb';
    src: url('../fonts/LatoLatin-Bold.eot'); /* IE9 Compat Modes */
    src: url('../fonts/LatoLatin-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/LatoLatin-Bold.woff2') format('woff2'), /* Modern Browsers */
         url('../fonts/LatoLatin-Bold.woff') format('woff'), /* Modern Browsers */
         url('../fonts/LatoLatin-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

/* Webfont: LatoLatin-BoldItalic */@font-face {
    font-family: 'LatoLatinWebBoldItalic';
    src: url('../fonts/LatoLatin-BoldItalic.eot'); /* IE9 Compat Modes */
    src: url('../fonts/LatoLatin-BoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/LatoLatin-BoldItalic.woff2') format('woff2'), /* Modern Browsers */
         url('../fonts/LatoLatin-BoldItalic.woff') format('woff'), /* Modern Browsers */
         url('../fonts/LatoLatin-BoldItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

/* Webfont: LatoLatin-Hairline */@font-face {
    font-family: 'LatoLatinWebHairline';
    src: url('../fonts/LatoLatin-Hairline.eot'); /* IE9 Compat Modes */
    src: url('../fonts/LatoLatin-Hairline.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/LatoLatin-Hairline.woff2') format('woff2'), /* Modern Browsers */
         url('../fonts/LatoLatin-Hairline.woff') format('woff'), /* Modern Browsers */
         url('../fonts/LatoLatin-Hairline.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: LatoLatin-HairlineItalic */@font-face {
    font-family: 'LatoLatinWebHairline';
    src: url('../fonts/LatoLatin-HairlineItalic.eot'); /* IE9 Compat Modes */
    src: url('../fonts/LatoLatin-HairlineItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/LatoLatin-HairlineItalic.woff2') format('woff2'), /* Modern Browsers */
         url('../fonts/LatoLatin-HairlineItalic.woff') format('woff'), /* Modern Browsers */
         url('../fonts/LatoLatin-HairlineItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: LatoLatin-Heavy */@font-face {
    font-family: 'LatoLatinWebHeavy';
    src: url('../fonts/LatoLatin-Heavy.eot'); /* IE9 Compat Modes */
    src: url('../fonts/LatoLatin-Heavy.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/LatoLatin-Heavy.woff2') format('woff2'), /* Modern Browsers */
         url('../fonts/LatoLatin-Heavy.woff') format('woff'), /* Modern Browsers */
         url('../fonts/LatoLatin-Heavy.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: LatoLatin-HeavyItalic */@font-face {
    font-family: 'LatoLatinWebHeavy';
    src: url('../fonts/LatoLatin-HeavyItalic.eot'); /* IE9 Compat Modes */
    src: url('../fonts/LatoLatin-HeavyItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/LatoLatin-HeavyItalic.woff2') format('woff2'), /* Modern Browsers */
         url('../fonts/LatoLatin-HeavyItalic.woff') format('woff'), /* Modern Browsers */
         url('../fonts/LatoLatin-HeavyItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: LatoLatin-Italic */@font-face {
    font-family: 'LatoLatinWebItalic';
    src: url('../fonts/LatoLatin-Italic.eot'); /* IE9 Compat Modes */
    src: url('../fonts/LatoLatin-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/LatoLatin-Italic.woff2') format('woff2'), /* Modern Browsers */
         url('../fonts/LatoLatin-Italic.woff') format('woff'), /* Modern Browsers */
         url('../fonts/LatoLatin-Italic.ttf') format('truetype');
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: LatoLatin-Light */@font-face {
    font-family: 'LatoLatinWebLight';
    src: url('../fonts/LatoLatin-Light.eot'); /* IE9 Compat Modes */
    src: url('../fonts/LatoLatin-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/LatoLatin-Light.woff2') format('woff2'), /* Modern Browsers */
         url('../fonts/LatoLatin-Light.woff') format('woff'), /* Modern Browsers */
         url('../fonts/LatoLatin-Light.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: LatoLatin-LightItalic */@font-face {
    font-family: 'LatoLatinWebLight';
    src: url('../fonts/LatoLatin-LightItalic.eot'); /* IE9 Compat Modes */
    src: url('../fonts/LatoLatin-LightItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/LatoLatin-LightItalic.woff2') format('woff2'), /* Modern Browsers */
         url('../fonts/LatoLatin-LightItalic.woff') format('woff'), /* Modern Browsers */
         url('../fonts/LatoLatin-LightItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: LatoLatin-Medium */@font-face {
    font-family: 'LatoLatinWebMedium';
    src: url('../fonts/LatoLatin-Medium.eot'); /* IE9 Compat Modes */
    src: url('../fonts/LatoLatin-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/LatoLatin-Medium.woff2') format('woff2'), /* Modern Browsers */
         url('../fonts/LatoLatin-Medium.woff') format('woff'), /* Modern Browsers */
         url('../fonts/LatoLatin-Medium.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: LatoLatin-MediumItalic */@font-face {
    font-family: 'LatoLatinWebMedium';
    src: url('../fonts/LatoLatin-MediumItalic.eot'); /* IE9 Compat Modes */
    src: url('../fonts/LatoLatin-MediumItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/LatoLatin-MediumItalic.woff2') format('woff2'), /* Modern Browsers */
         url('../fonts/LatoLatin-MediumItalic.woff') format('woff'), /* Modern Browsers */
         url('../fonts/LatoLatin-MediumItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: LatoLatin-Regular */@font-face {
    font-family: 'LatoLatinWeb';
    src: url('../fonts/LatoLatin-Regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/LatoLatin-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/LatoLatin-Regular.woff2') format('woff2'), /* Modern Browsers */
         url('../fonts/LatoLatin-Regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/LatoLatin-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: LatoLatin-Semibold */@font-face {
    font-family: 'LatoLatinWebSemibold';
    src: url('../fonts/LatoLatin-Semibold.eot'); /* IE9 Compat Modes */
    src: url('../fonts/LatoLatin-Semibold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/LatoLatin-Semibold.woff2') format('woff2'), /* Modern Browsers */
         url('../fonts/LatoLatin-Semibold.woff') format('woff'), /* Modern Browsers */
         url('../fonts/LatoLatin-Semibold.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: LatoLatin-SemiboldItalic */@font-face {
    font-family: 'LatoLatinWebSemibold';
    src: url('../fonts/LatoLatin-SemiboldItalic.eot'); /* IE9 Compat Modes */
    src: url('../fonts/LatoLatin-SemiboldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/LatoLatin-SemiboldItalic.woff2') format('woff2'), /* Modern Browsers */
         url('../fonts/LatoLatin-SemiboldItalic.woff') format('woff'), /* Modern Browsers */
         url('../fonts/LatoLatin-SemiboldItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: LatoLatin-Thin */@font-face {
    font-family: 'LatoLatinWebThin';
    src: url('../fonts/LatoLatin-Thin.eot'); /* IE9 Compat Modes */
    src: url('../fonts/LatoLatin-Thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/LatoLatin-Thin.woff2') format('woff2'), /* Modern Browsers */
         url('../fonts/LatoLatin-Thin.woff') format('woff'), /* Modern Browsers */
         url('../fonts/LatoLatin-Thin.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: LatoLatin-ThinItalic */@font-face {
    font-family: 'LatoLatinWebThin';
    src: url('../fonts/LatoLatin-ThinItalic.eot'); /* IE9 Compat Modes */
    src: url('../fonts/LatoLatin-ThinItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/LatoLatin-ThinItalic.woff2') format('woff2'), /* Modern Browsers */
         url('../fonts/LatoLatin-ThinItalic.woff') format('woff'), /* Modern Browsers */
         url('../fonts/LatoLatin-ThinItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

