body {
    background: url('../img/bg/body_background_blurred.gif') no-repeat center center fixed !important;
    background-size: cover !important;
    overflow-x: hidden;
}

.login h1 a {
	background-image: none, url('../img/icons/free-indymedia.png');
}